/* Three columns side by side */
.column {
  float: left;
  width: 23%;
  margin-bottom: 16px;
  padding: 0 8px;
  border: 2px solid #000; /* Black border */
  border-radius: 20px; /* Adjust the value to make the column more or less oval */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(1, 1, 1);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #000000; 
    border-radius: 20px; /* Adjust the value to make the button more or less oval */
    box-sizing: border-box;
    width: 65%;
    background-color: rgb(255, 254, 252);
    text-align: center;
  }
  
  .button {
    border: 2px solid #ffffff; 
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #110e0e;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 20px; /* Adjust the value to make the button more or less oval */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

  .job {
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid #000000; 
    border-radius: 20px; /* Adjust the value to make the button more or less oval */
    box-sizing: border-box;
    width: 80%;
    background-color: rgb(255, 254, 252, .3);
    text-align: center;
  }

.hobby{
  color: rgb(1, 1, 1);
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid #000000; 
  border-radius: 20px; /* Adjust the value to make the button more or less oval */
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(255, 254, 252, .3);
  text-align: center;
}

  .button:hover {
    background-color: #eab8b8;
  }

  @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation:backwards 10s;
        animation: slidein 10s;

        -webkit-animation-fill-mode:both;
        animation-fill-mode:backwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: bottom; background-size:2800px; }
to {background-position: 0px 0px;background-size:3000px;}
}

@keyframes slidein {
from {background-position: top;background-size:25000px; }
to {background-position: -100px 0px;background-size:2000px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}

.back-to-home {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  background-color:#6c0909; 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.back-to-home:hover {
  background-color: rgba(76, 175, 80, 0.8); /* Darker semi-transparent green color on hover */
}
.navbar {
  height: 5rem;
  width: 86rem; /* Adjusted width to match the expanded width on hover */
  /*background-color: rgb(2, 16, 16);*/
  transition: 200ms ease;
  position: fixed;
  top: 0;
  right: 0; /* Align left edge to the left side of the webpage */
  z-index: 1000;
}

.navbar-nav {
  list-style: none;
  padding: 7px;;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items:stretch;
  justify-content:right;
  height: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #b94f29;
  text-decoration: none;
  filter:brightness() opacity(0.9);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: black;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1rem;
}

.navbar:hover {
  width: 100%;
}

.navbar:hover .link-text {
  display: block;
}